* {
    margin:0;
}

body {
    margin: 0;
    text-align: center;
    font-family: "Spinnaker", sans-serif;
    text-shadow: 0 0 1px black;
    background: #EFECC4;
}



a{
    text-decoration: none;
    color: whitesmoke;
}

#hero{
    background-image: url(images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero h1,h2{
    background-color: #582630;
    font-weight: bold;
    color: whitesmoke;
    padding: 10px 12px;
    margin: 10px;
    border-radius: 10px;
}

#hero h2{
    font-size: 18px;
}

#bucharest{
    color : #f1a66a;
    text-shadow: 0 0 3px black;
}

#main{
    height: 380px;
    background-color: #EFECC4;
    padding: 40px 30px; 
}

#activities-header{
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: bold;
    color: black;
    
}

#activities-wrapper{
    display: flex;
    flex-direction: rows;
    justify-content: space-evenly;
    align-items: center;
}

.activity{
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.activity-image{
    height: 125px;
    width: 125px;
    border-radius: 50%;
    margin-bottom: 25px;
    border: 3px solid #582630;
    
}

.activity-header{
    margin-bottom: 15px;
    font-size: 20px;
    color: #582630;
}

.activity-description{
    font-size: 14px;
    color: black;
    margin-bottom: 10px;
}

.activity-learnmore{

    font-family: "Spinnaker", sans-serif;
    margin-top: 30px;
    align-self: end;
    padding: 10px 40px;
    font-size: 16px;
    font-weight: bold;
    background: #582630;
    color: whitesmoke;
    border: none;
    border-radius: 4px;
}

.button{
    font-family: "Spinnaker", sans-serif;
    align-self: end;
    padding: 10px 40px;
    font-size: 16px;
    font-weight: bold;
    background: #582630;
    color: whitesmoke;
    border: none;
    border-radius: 4px;
    margin: 10px auto;
}

.button:hover{
    background: #a54657;
}
